<div class="w-full border-gray-100 border-2 h-full relative">
    <div class="flex justify-end">
        <div class="absolute flex m-2 justify-center items-center rounded-full bg-white w-9 h-9">
            <i class='bx bx-x text-xl text-red-500'></i>
        </div>
    </div>
    <div class="flex bg-slate-50 justify-center p-4">
        <div class="flex items-center flex-col gap-3">
            <img class="rounded-full h-24 w-24 border-white border-4 shadow-lg" src="https://contacts.zoho.in/file?ID=60027557139&fs=original" alt="">
            <div class="flex flex-col items-center">
                <p class="font-semibold">1 - Rudra Belwalkar</p>
                <p class="text-blue-500 cursor-pointer text-sm">{{email}}</p>
                <p>CEO</p>
            </div>
            <div class="flex gap-11 items-center">
                <button class="bg-white text-sm rounded py-2 px-3 shadow-md hover:bg-blue-500 hover:text-white cursor-pointer">My Account</button>
                <p class="text-red-500 rounded py-2 px-3 text-sm cursor-pointer">Sign Out</p>
            </div>
        </div>
    </div>
    <hr class="w-full">
    <div class="flex justify-between items-center py-3 px-5">
        <p class="text-blue-500 text-sm cursor-pointer">Rudra Belwalkar</p>
        <button><i class='bx bx-cog text-blue-500 p-2 rounded-full bg-white'></i></button>
    </div>
    <div class="flex justify-center">
        <hr class="w-4/5">
    </div>
    <div class="p-5">
        <p class="font-semibold text-sm">Themes</p>
        <div>
            <p>Menu Color</p>
            
        </div>
    </div>
</div>
