<div class="flex flex-col">
    <div class="bg-gray-100 flex justify-between px-8 py-3.5 items-center">
        <div class="flex gap-2 items-center">
            <img class="rounded-full h-8"
                src="https://media.licdn.com/dms/image/D4D03AQHJGJyKWrNuMA/profile-displayphoto-shrink_800_800/0/1698318206057?e=2147483647&v=beta&t=6GRlhwMFAecvT02VDJA-NBoo1lGqSUPteomvTXcmg6M"
                alt="">
            <select class="bg-gray-100 cursor-pointer lg:text-lg sm:text-xs text-gray-700 text-xs" name="1 User Nmae"
                id="">
                <option class="bg-white" value="">1 User Nmae</option>
            </select>
        </div>
        <div class="cursor-pointer flex gap-1.5 items-center">
            <i class='bx bx-chevron-left sm:text-2xl lg:text-3xl' style='color:#adadad'></i>
            <p class="font-sans lg:text-base sm:text-xs text-xs">03-Mar-2024-9-Mar-2024</p>
            <i class='bx bx-chevron-left bx-rotate-180 sm:text-2xl lg:text-3xl' style='color:#adadad'></i>
        </div>
        <div class="cursor-pointer flex gap-3 items-center">
            <select class="bg-blue-500 cursor-pointer px-2 py-0.5 rounded text-gray-700 text-sm text-white"
                name="1 User Nmae" id="">
                <option class="bg-white text-black cursor-pointer" value="">Log Time</option>
                <option class="bg-white text-black cursor-pointer" value="">Daily Log</option>
                <option class="bg-white text-black cursor-pointer" value="">Weekly Log</option>
                <option class="bg-white text-black cursor-pointer" value="">Semi Monthly Log</option>
                <option class="bg-white text-black cursor-pointer" value="">Monthly Log</option>
            </select>
            <i class='bx bx-filter-alt text-2xl' style='color:#cecdcd'></i>
            <i class='bx bx-dots-horizontal-rounded text-2x' style='color:#cecdcd'></i>
        </div>
    </div>
    <div class="border border-gary-600 bg-white flex justify-between items-center mx-8 mt-6 px-8 py-1.5">
        <select class="cursor-pointer lg:text-base sm:text-xs text-xs" name="" id="">
            <option class="text-black bg-white" value="">Select Projcet</option>
            <option class="text-black bg-white" value="">Add Projcet</option>
        </select>
        <select class="cursor-pointer lg:text-base sm:text-xs text-xs" name="" id="">
            <option class="text-black" value="">Select Job</option>
            <option class="text-black" value="">Add Projcet</option>
        </select>
        <input class="outline-none focus:border-blue-500 lg:text-base sm:text-xs text-xs" type="text"
            placeholder="What are you working on?">
        <div class="flex gap-2">
            <i class='bx bxs-layer text-2xl sm:text-lg'></i>
            <select class="cursor-pointer lg:text-base sm:text-xs text-xs" name="" id="">
                <option class="bg-white text-black" value="">Select Job</option>
                <option class="bg-white text-black" value="">Add Projcet</option>
            </select>
        </div>
        <div class="bg-teal-500 flex gap-2 items-center lg:px-3 lg:py-2 rounded sm:px-1 sm:py-0.5">
            <i class='bx bx-time lg:text-2xl sm:text-xs text-xs' style='color:#ffffff'></i>
            <p class="font-sans text-white lg:text-base sm:text-xs text-xs">00:00:00</p>
        </div>
    </div>
    <div class="flex flex-col items-center relative top-12">
        <img class="h-32"
            src="https://user-images.githubusercontent.com/74838472/108693548-91e3c400-74c3-11eb-8480-474d01314b29.png"
            alt="">
        <p class="text-gray-600">No Time Log(s) found</p>
    </div>
    <div class="bg-white flex gap-4 items-center justify-end pr-10 py-2 relative shadow-inner top-52 ">
        <div class="flex flex-col border-l-4 border-green-500 pl-2 text-sm">
            <p>Total</p>
            <p class="font-medium text-green-600">00:00 Hrs</p>
        </div>
        <div class="flex flex-col border-l-4 border-purple-500 pl-2 text-sm">
            <p>Submitted</p>
            <p class="font-medium text-orange-500">00:00 Hrs</p>
        </div>
        <div class="border border-green-600 flex gap-6 items-center py-0.5 px-2 rounded text-sm">
            <div class="flex flex-col">
                <p>Not Submitted</p>
                <p class="font-medium text-blue-500">00:00 Hrs</p>
            </div>
            <i class='bx bx-link-external text-4xl' style='color:rgba(14,172,83,0.72)'></i>
        </div>
    </div>
</div>